*{
    margin: 0;
}

header{
    width: 100%;
    min-height: 50px;
    background: #f85604;
}
header.nav{
    width: 100%;
    min-height: 30px;
    background: #f85604;
}
nav ul{
    float: right;
    margin-right: 50px;  
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
    list-style-type: none;
    font-size: 20px;
}
ul li a{
    color: rgb(233, 230, 230);
    padding: 0px 16px;
    display: inline-block;
    text-decoration: none;
    margin-top: 7px;
    font-family: poppins;
    text-transform: uppercase;
    font-size: 0.7rem;

}
ul li a:hover{
    background-color: rgb(191, 190, 190);
}

.logo_search{
    width: 100%;
    min-height: 30px;
    background: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_container,
.search_container,
.cart_container{
    width: calc(100%/4 -70px);
    min-height: 40px;
    /* background: #3334; */
    margin: 2px 20px;
 }
 .logo_container{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .logo_container img{
    max-height: 40px;
 }
 .search_container{
    flex-grow: 2;
    
 }
 .search_container input{
    height: 40px;
    width: 90%;
    border: none;
    position: relative;
    display: inline-block;
    outline: none;
    float: left;
    text-indent: 20px;
    margin: 0;
    padding: 0;
 }
 .search_container button{
    height: 40px;
    width: 50px;
    display: inline-block;
    border: none;
    outline: none;
    position: absolute;
    right: 331px; 
    background: #fad4c2;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin: 0;
    padding: 0;
 }
 .cart_container{
    color: #fff;
 }
 .cart_container i{
    padding-top: 9px;
    font-size: 30px;
}
.top_main_nav{
    width: 100%;
    min-height: 30px;
    background: #f85604;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top_main_nav ul{
    
}
.top_main_nav ul li {
    display: inline-block;
    list-style-type: none;
    font-size: 20px;
    border-right: 1px solid rgb(233, 230, 230);
}
.top_main_nav ul li a{
    color: rgb(233, 230, 230);
    padding: 0px 3px;
    display: inline-block;
    text-decoration: none;
    margin-top: 2px;
    font-family: poppins;
    text-transform: lowercase;
    font-size: 0.7rem;
}
.top_main_nav ul li:last-child a{
    border-right: none;
}